/*
 * APP BAR
*/

.tool-bar {
  width: 100%;
  height: 60px;
  color: var(--app-primary-font-color);
  background: var(--app-primary-color);
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  z-index: 2;
  
  box-shadow: var(--tool-bar-shadow);
}
.tool-bar > .tool-bar--left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.tool-bar > .tool-bar--center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.tool-bar > .tool-bar--right {
  display: flex;
  padding-right: 10px;
}

.tool-bar--right > i,
.tool-bar--left  > i {
  display: flex;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  -webkit-transition: background .4s;
  background: rgba(0,0,0,0);
}

.tool-bar--right > i:active,
.tool-bar--left > i:active {
  -webkit-transition: background .4s;
  background: var(--app-primary-lightcolor);
}