/*
  CHAT SCREEN
*/

/* tool-bar */
#chat-screen .tool-bar--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

/* picture tool-bar */
#chat-screen .tool-bar--center > span {
  display: flex;
  align-items: center;
  justify-content: center;
 
  background: var(--app-accent-lightcolor);
  color: var(--app-accent-font-color);
  width: 40px; 
  min-width: 40px; 
  height: 40px;
  max-height: 40px;
  margin: 6px 12px;
  border-radius: 100px;
}

/* content tool-bar */
#chat-screen .tool-bar--center > div {
  display: flex;
  flex-direction: column;
}

/* chat container */
#chat-layercontainer {
  flex-grow: 1;
  width: 100%;
  color: var(--app-primary-font-color);
  
  display: flex;
  flex-direction: column;
}
#chat-layercontainer > div {
  max-width: 96%;  min-width: 96%;
  max-height: 100%; min-height: 100%;
  padding: 0 2%;
  overflow-y: auto;
  flex-flow: column;
}
#chat-layercontainer > div:empty:before {
  content: "Chat vacío";
  align-self: center;
  margin-top: 5px;
  padding: 3px 5px;
  
  border-radius: 30px;
  background: var(--app-primary-color);
  color: var(--app-primary-font-color);
}

/**
  MESSAGES
**/
.sms-layer {
  display: flex;
  flex-direction: column;
}
.sms {
  background: var(--app-primary-color);
  word-break: break-word;
  padding: 6px 13px;
  margin: 6px 0;
  max-width: 75%;
  min-width: 28%;
  min-height: 1.5rem;
  
  display: flex;
  align-items: center;
}

/* MINE SMS */
.msms-layer { align-items: flex-end }
.msms-layer > .sms { border-radius: 15.1px 15.1px 0 15.1px }

/* OTHER SMS */
.osms-layer { align-items: flex-start }
.osms-layer > .sms { border-radius: 15.1px 15.1px 15.1px 0 }