/* 
  LOGIN SCREEN
*/

.login-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  color: var(--app-accent-font-color);
}
.login-layout--head {
  background-color: var(--app-accent-color);
  transform: translateY(10px);
  padding: 0 10px 0 10px;
}
.login-layout--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
  background: var(--app-accent-color);
  
  border: solid var(--app-control-color);
  border-radius: 20px;
}
.login-layout--submit {
  background: none;
  color: var(--app-control-color);
  font-weight: bold;
  border: solid var(--app-control-color);
  border-top: none;
  border-radius: 0 0 10px 10px;
  
  padding: 10px 30px;
  margin-top: 7px;
}
.login-toggle {
  z-index: 3;
  font-size: 14px;
  margin-top: 15px;
  color: var(--app-control-color);
}