#chat-layout {
  color: var(--app-primary-font-color);
  width: 98vw;
  height: 100%;
  margin-left: 1vw;
  padding-bottom: 1vh;
  overflow-y: scroll;
}

.chat-room-cont {
    width: 100%;
    height: 8vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

.room-img-cont {
    height: 6vh;
    width: 6vh;
}

.circle-img {
    width: 100%;
    height: 100%;
    border-radius: 100% 100% 100% 100%;
}

.room-mid-cont {
    width : 65%;
    height: 85%;
    margin-left: 2vh;
}