:root {
  /* static */
  --tool-bar-shadow: 0 6px 10px -5px rgba(0,0,0,0.5);
  
  /* theme */
  --app-accent-color: 0;
  --app-accent-font-color: 0;
  
  --app-primary-color: 0;
  --app-primary-font-color: 0;
  --app-primary-font-lightcolor: 0;
  
  --app-control-color: 0;
  --app-control-lightcolor: 0;
}

#main-layout {
  display: none
}

#btn-open-drawer {
  margin-right:  10px;
}
#back-contacts-lay {
  margin: 5px;
}

#app-drawer {
  display: flex;
  flex-direction: column;
}